

@{
    ViewData["Title"] = "About";
}
<br />
<br />



<div class="text-center">
    <br />
    <h1>Adoption | Community | Advocacy</h1>
    <br />
</div>


<p style="text-align:center">
    Pawsible Pals is a non-profit website, focused on animal welfare and community engagement.
    <br />
    Through an innovative and socially engaging website, we will maximize the animal's exposure to secure the nurturing,
    loving home they deserve.
    <br />
    We provide an easy and accessible adoption platform, that considers both the adoptee and the adopter’s perspectives.
    <br />
    Our focused dedication is towards creating increased community involvement and expanding national interest for pet advocacy.

</p>

<div>
    <div>
        <p><font size="5">Adoption |</font> Striving to provide safe forever homes for those animals in the San Antonio area</p>
    </div>
    <div>
        <br />

        <p><font size="5">Community |</font> Becoming an active component in the shelter for animals in need within the San Antonio area</p>
    </div>
    <br />
    <div>
        <p><font size="5">Advocacy | </font> Supporting animal protection within state/city legislatures</p>
    </div>
    <br />
</div>

<div>
    <center>
        <img src="~/IMG/Imgs/Dogo.jpg" />
    </center>
</div>

<div>
    <p></p>
</div>