
@{
    ViewData["Title"] = "About";
}

<div style="background-color: black;">
    <h1 class="jumbotron">Adoption | Community | Advocacy</h1>
    
</div>

<p>Pawsible Pals is a non-profit website, focused on animal welfare and community engagement. Through an innovative and socially engaging website, we will maximize the animal's exposure to secure the nurturing, loving home they deserve. We provide an easy and accessible adoption platform, that considers both the adoptee and the adopter’s perspectives. Our focused dedication is towards creating increased community involvement and expanding national interest for pet advocacy. </p>


<div>
    <div>
        <h3>Adoption |</h3><p>Striving to provide safe forever homes for those animals in the San Antonio are</p>
    </div>
    <div>
        <br />

        <h3>Community |</h3><p>Becoming an active component in the shelter for animals in need within the San Antonio area</p>
    </div>
        <br />
    <div>
        <h3>Advocacy |</h3><p>Supporting animal protection within state/city legislatures</p>
    </div>
        <br />
</div>
