
@{
    ViewData["Title"] = "FAQ";
}

<h1>FAQ</h1>

<div class="container">

    <h2>Frequently Asked Questions:</h2>
    <div class="list-group">

        <ul class="list-group">
            <li class="list-group-item">
                Are all the profiles real? <p style="color:MediumSeaGreen;">Yes, we try to validate all adoptees by phone number and email.</p>
            </li>

            <li class="list-group-item">Will you be soliciting me, since you have my email and phone number? <p style="color:mediumseagreen;">We do use your personal information for authentication to have access to our website and it's benfits.  We will be reaching out to you in the future and should you not want this communication, please unsubscribe your email information.</p>
            </li>

            <li class="list-group-item">What will my donation money pay for? <p style="color:mediumseagreen;">Any donations are received with gratitude and will be used towareds the maintenance and upkeep of our website application and it's further improvements.</p>
            </li>

            <li class="list-group-item">
                How long do you keep pets posted?
                <p style="color:mediumseagreen;">We do have a time limit on pet's profiles of 30 days.  On the 30th day of posting, we will reach out to you, the user and validate the posting is still needed and if not the profile will be closed.  If the posting is still needed, we will continue with posting for another 30 days.</p>
            </li>

            <li class="list-group-item">
                What are the costs of posting pets?
                <p style="color:mediumseagreen;">We do have two levels of enrollment, basic and premium.  Both levels offer different benefits to adoptees.  At this time, we are not prepared to charge for either level of enrollment.  At this current time all services are free of change and the same to all enrollments.  In the future, we will be enhancing our website and therefore costs will incurr and at that time we will alert users of the enrollment charges and cost changes.</p>
            </li>

            <li class="list-group-item">
                How many pets can I post?
                <p style="color:mediumseagreen;">We offer up to 5 individual pet postings per adoptees.</p>
            </li>

            <li class="list-group-item"> What happens if my pet isn't adopted? <p style="color:mediumseagreen;">Should your pet not be adopted within the first 30 days of posting, we offer more days of posting up to 4 months.</p>
            </li>
        </ul>
    </div>

</div>
<br />
