
@{
    ViewData["Title"] = "FAQ";
}

<h1>FAQ</h1>

<div class="container">
    
</div>
<h3>For all them Q's we got A's for.</h3>
<br />

<h5> How many pets profiles can I have?</h5>
<p style="text-align:center"> Every basic account can hold 2 pet profiles. Basic accounts can be upgraded into premium accounts with up to 10 profiles and additional percs. </p>
<br />

<h5>What are the perks of premium?</h5>
<p style="text-align:center"> Premium provides more options for larger groups of profiles, often recommended for fosters and shelters. With premium you can hold upto 10 profiles with the option of more profiles at an additional cost.</p>
<br />

<h5>Can I link multiple acccounts?</h5>
<p style="text-align:center"> No, every account is separate and unique to its email and phone number.</p>
<br /> 

<h5>How long will my pet profile be active?</h5>
<p style="text-align: center"> Every account will be active from 90 days after the last activity. After 90 days the user will be reached either via email or text with a reminder and giver 30 days to resume activity. After the 30 days the profile will be set to private.</p>
<br />

<h5>How do I switch my profiles from public and private?</h5>
<p style="text-align:center">You can choose your profiles visibility in the profile editor, upper right corner. After 90 days of inactivity, the profile will automatically be set to private.</p>

<h5></h5>