
@{
    ViewData["Title"] = "Feed";
}

<h1>Feed</h1>

<h3>ERROR: Out of Scope! Please be patient with us!</h3>
<div>
    <center>

        <img src="~/IMG/Imgs/cat dog feed.png" />
    </center>
</div>