
@{
    ViewData["Title"] = "Feed";
}

<h1>Feed</h1>

<h3>Please be patient with us! We are working on enhancements!</h3>
<div>
    <center>

        <img src="~/IMG/Imgs/cat dog feed.png" />
    </center>
</div>