
@{
    ViewData["Title"] = "Search";
}
<div class="text-center">
<h3>Search//OUT OF SCOPE</h3>
<br />
<div class="container text-center">
    <div class="search-box">
        <input type="text" placeholder="Pet Name" name="" value=""/>
    </div>
<br />
<h3>Size</h3>
<br />
<select>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
</select>

<form action="/action_page.php">
    <h3>Gender</h3>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    
</form>
</div>
</div>

