
@{
    ViewData["Title"] = "SignUp";
}

 <h1 class="jumbotron">Sign Up</h1>
        <form text-align="center" action="action_page.php" style="border:1px solid #ff006e">
            <div class="container">
                <p>
                    This is a line of text,  a collection of letters used to formulate a sentence.
                    <br />
                    <br />
                    <br />
                    <label for="Username"><b>Name</b></label>
                    <input type="text" placeholder="Enter your Name" name="uname" required />
                    <br />
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="psw" required />
                    <br />
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required />
                    <br />
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required />
                    <br />
                    <br />
                    <h1>Pet profile</h1>
                    <label for="Name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Pet Name" name="name" required />
                    <br />
                    <h2>Gender</h2>

                    <input type="radio" name="gender" value="male" /><b>Male</b><br />
                    <input type="radio" name="gender" value="female" /><b>Female</b><br />


                    <button type="button" class="signupbutton">Sign Up</button>
                    <button type="button" class="cancelbtn">Cancel</button>
</div>
            </form>
