@model PawsiblePals.Models.Pet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            NEW CREATED VALUE DROPDOWN
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetName" class="control-label"></label>
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
            <div class="dropdown">
                <label asp-for="Species" class="control-label"></label>
                <select Species>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                </select>
            </div>
            <div class="dropdown">
                <label asp-for="Age" class="control-label"></label>
                <select Age>
                    <option value="1">0-6months</option>
                    <option value="2">6months-1year</option>
                    <option value="3">2year-5years</option>
                    <option value="4">6years-9years</option>
                    <option value="5">10years+</option>
                </select>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            @*<div class="dropdown">
                <label asp-for="Weight" class="control-label">Weight</label>
                <select Weight>
                    <option value="11">2-22lbs</option>
                    <option value="12">24-57lbs</option>
                    <option value="13">59-99lbs</option>
                    <option value="14">100lbs+</option>
                </select>
            </div>*@
            <div class="dropdown">
                <label asp-for="Color" class="control-label"></label>
                <select Color>
                    <option value="1">White</option>
                    <option value="2">Black</option>
                    <option value="3">Brown</option>
                    <option value="4">Blonde</option>
                </select>
            </div>
            <div class="Breed">
                <label asp-for="Breed" class="control-label"></label>
                <select Breed>
                    <option value="1">Mixed-Breed</option>
                    <option value="2">Golden Retriever</option>
                    <option value="3">German Shepard</option>
                </select>
            </div>
            @*ORIGINAL MVC CODE, will input text
        <div>
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
            <div class="form-group">
            <label asp-for="Weight" class="control-label"></label>
            <input asp-for="Weight" class="form-control" />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PeopleFriendly" /> @Html.DisplayNameFor(model => model.PeopleFriendly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

